/* #region Modal styles */

.modal-overlay {
  position: fixed;
  inset: 0;

  background-color: var(--color-navy-blue-modal);
  z-index: 9999;

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.btn-close {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 24px;
  right: 24px;

  width: 24px;
  height: 24px;

  padding: 0px;
  background-color: var(--color-cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--color-navy-blue);

  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close:hover,
.btn-close:focus {
  background-color: var(--color-ocean);
  border: none;
  border-radius: 100px;
  fill: var(--color-white);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 72px 24px 24px 24px;

  width: 408px;
  min-height: 584px;
  transform: translate(-50%, -50%);

  background-color: var(--color-dairy);
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transition: transform var(--anim-main);
}

.modal-title {
  font-weight: 500;
  text-align: center;
  color: var(--color-navy-blue);
  margin-bottom: 16px;
}

.form-input-container {
  margin-bottom: 8px;
}

.form-input-container:nth-child(4) {
  margin-bottom: 16px;
}

.input-label {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);
  margin-bottom: 4px;
}

.input-wrapper {
  position: relative;
}

.input {
  width: 100%;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  padding-right: 16px;
  font-size: 12px;
  transition: border var(--anim-main);
  background-color: transparent;
  outline: transparent;
  transition: border-color var(--anim-main);
}

.input-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  fill: var(--color-navy-blue);
  transform: translateY(-50%);
  transition: fill var(--anim-main);
}

.input:hover,
.input:active,
.input:focus {
  border-color: var(--color-iris);
}

.input:hover + .input-icon,
.input:active + .input-icon,
.input:focus + .input-icon {
  fill: var(--color-iris);
}

.modal-text-area {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  width: 100%;
  height: 120px;
  padding: 8px 16px;
  border: 1px solid var(--color-navy-blue-modal);
  border-radius: 4px;
  resize: none;
  transition: fill var(--anim-main);
  color: var(--color-navy-blue-modal);
  background-color: transparent;
  outline: transparent;

  transition: border-color var(--anim-main);
}

.modal-text-area:hover,
.modal-text-area:active,
.modal-text-area:focus {
  border-color: var(--color-iris);
}

.modal-checkbox-container {
  margin-bottom: 24px;
}

.checkbox-icon {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  transition: fill var(--anim-main);
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--color-light-slate);

  align-items: center;
  gap: 8px;
  cursor: pointer;
}

.modal-policy-link {
  line-height: 1.33;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--color-iris);
}

.modal-checkbox-icon-wrapper {
  display: inline-flex;
  flex-shrink: 0;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  fill: transparent;
  margin-right: 8px;

  border-radius: 2px;
  border: 1px solid var(--color-navy-blue-modal);
  transition:
    background-color var(--anim-main),
    border var(--anim-main),
    fill var(--anim-main);
}

.modal-checkbox:checked + .modal-checkbox-label .modal-checkbox-icon-wrapper {
  background-color: var(--color-ocean);
  border-color: var(--color-ocean);
  fill: var(--color-cloud);

  border: none;
}

.modal-send-btn {
  font-weight: 500;
  letter-spacing: 0.04em;
  line-height: 1.5;
  text-align: center;
  color: var(--color-white);
  background-color: var(--color-iris);
  display: block;
  min-width: 169px;
  height: 56px;
  margin-right: auto;
  margin-left: auto;
  padding: 16px 32px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  cursor: pointer;
  margin-top: 24px;

  transition: background-color var(--anim-main);
}

.modal-send-btn:hover,
.modal-send-btn:focus {
  background-color: var(--color-ocean);
}

/* #endregion */
