/* приховування секцій */
.hidden {
  display: none;
}
/* приховування секцій */

/* #region Variables (задавати варіанти) */
:root {
  --color-green: #31d0aa;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;

  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --color-navy-blue: #2e2f42;
  --color-light-slate: #8e8f99;
  --color-slate: #434455;
  --color-icon-fill: #2f2f37;

  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgb(46, 47, 66, 0.7);

  --anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Base styles */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* #endregion */

/* #region Reset styles (скидання стилів) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* #endregion */

/* #region Common styles (повторювані стилі)*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

h2 {
  margin-bottom: 72px;
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

.section-title {
  color: var(--color-navy-blue);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.btn {
  display: block;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;

  color: var(--color-white);
  background-color: var(--color-iris);
  border: none;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

  min-width: 169px;
  height: 56px;

  padding: 16px 32px;
  border-radius: 4px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn:hover,
.btn:focus {
  background-color: var(--color-ocean);
}

/* #endregion */

/* #region Logo */
.logo {
  color: var(--color-iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.light {
  color: var(--color-cloud);
}

.dark {
  color: var(--color-navy-blue);
}

.header-logo {
  display: block;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: block;
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0px;
  background-color: var(--color-white);
  z-index: 999;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu,
.header-contacs {
  display: none;
}

.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: var(--color-icon-fill);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-contacs {
    display: block;
  }

  .header-item {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-navy-blue);
  }

  .header-item-link {
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-item:first-child {
    color: var(--color-ocean);
  }

  .header-item .current:after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--color-ocean);
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
  }

  .header-item-link:hover,
  .header-item-link:focus,
  .header-item-link:active {
    color: var(--color-ocean);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-item {
    font-weight: 400;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .contacts-item-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: var(--color-ocean);
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts-item-link {
    padding: 24px 0;
  }
}

/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--anim-main),
    visibility var(--anim-main);
  z-index: 999;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-btn-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--color-navy-blue);

  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 40px;
}

.current {
  color: var(--color-ocean);
}

.mobile-contacts-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-social {
  display: flex;
  gap: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color var(--anim-main);
}

.mobile-social-icon {
  fill: var(--color-cloud);
}

/* #endregion */

/* #region Hero */
.hero {
  max-width: 320px;
  background-color: var(--color-navy-blue);
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/people-office.jpeg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  width: 100%;
  padding: 72px 0;
  margin: auto;
}

.hero-title {
  color: var(--color-white);

  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;

  max-width: 216px;
  margin: 0 auto 72px;
}

@media screen and (min-width: 768px) {
  .hero {
    max-width: 768px;
    padding: 112px 0;
  }

  .hero-title {
    font-size: 56px;
    line-height: 1.07;

    max-width: 496px;
    margin: 0 auto 36px;
  }
}

@media screen and (min-width: 1158px) {
  .hero {
    max-width: 1440px;
    padding: 188px 0;
  }

  .hero-title {
    margin: 0 auto 48px;
  }
}
/* #endregion */

/* #region Advantages */

.adv-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.adv-item-title {
  color: var(--color-navy-blue);
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  margin-bottom: 8px;
  text-align: center;
}

.icon-container {
  display: none;
}

@media screen and (min-width: 768px) {
  .adv-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 72px;
  }

  .adv-item {
    width: calc((100% - 24px) / 2);
  }

  .adv-item-title {
    text-align: left;
  }
}

@media screen and (min-width: 1158px) {
  .adv-item {
    flex-basis: calc((100% - 72px) / 4);
  }

  .adv-item-title {
    font-size: 20px;
    font-weight: 500;
    line-height: 1.2;
  }

  .icon-container {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-cloud);
    border: 1px solid var(--color-light-slate);
    border-radius: 4px;
    height: 112px;
    margin-bottom: 8px;
  }
}

/* #endregion */

/* #region Team */
.team {
  background-color: var(--color-cloud);
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-item {
  width: 264px;
  background-color: var(--color-white);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-item:hover,
.team-item:focus {
  background-color: var(--color-white);
}

.person {
  margin: 0 16px;
  text-align: center;
  padding: 32px 0 32px;
}

.team-item-title {
  color: var(--color-navy-blue);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.social {
  display: flex;
  justify-content: center;
  gap: 24px;
  margin-top: 8px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--color-ocean);
}

.team-item:hover .social-link,
.team-item:focus .social-link {
  background-color: var(--color-ocean);
}

.social-icon {
  fill: var(--color-cloud);
}

@media screen and (min-width: 768px) {
  .team-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 64px;
    justify-content: center;
  }
}
/* #endregion */

/* #region Portfolio */

.portfolio-list {
  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio-item {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-wrapper {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  color: var(--color-cloud);
  background-color: var(--color-iris);
  padding: 40px 32px;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .overlay,
.portfolio-item:focus .overlay {
  transform: translateY(0);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow:
    0 2px 1px 0 rgb(46 47 66 / 8%),
    0 1px 1px 0 rgb(46 47 66 / 16%),
    0 1px 6px 0 rgb(46 47 66 / 8%);
}

.portfolio-name {
  padding: 32px 16px;
  border: 1px solid var(--color-cornflower);
  border-top: none;
}

@media screen and (min-width: 768px) {
  .portfolio-list {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    column-gap: 24px;
    row-gap: 48px;
  }

  .portfolio-item {
    flex-basis: calc((100% - 24px) / 2);
  }
}

@media screen and (min-width: 1158px) {
  .portfolio-item {
    flex-basis: calc((100% - 48px) / 3);
  }
}
/* #endregion */

/* #region Footer styles */
.footer {
  background-color: var(--color-navy-blue);
  padding: 96px 0;
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 72px;
}

.footer-txt {
  max-width: 264px;
}

.footer-txt-social {
  color: var(--color-white);
  font-family: Roboto;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5; /* 150% */
  letter-spacing: 0.32px;
  margin-bottom: 16px;
}

.footer-social-list {
  display: flex;
  gap: 16px;
}

.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  background-color: var(--color-iris);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus,
.footer-social-link:active {
  background-color: var(--color-green);
}

.social-icon {
  fill: var(--color-cloud);
}

.btn-footer {
  background-color: var(--color-iris);
  color: var(--color-white);

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  line-height: 1.5;
  letter-spacing: 0.04em;

  border: none;

  padding: 8px 24px;
  border-radius: 4px;
  min-width: 165px;
  height: 40px;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-send-btn-icon {
  fill: var(--color-white);
  margin-left: 16px;
}

.btn-footer:hover,
.btn-footer:focus,
.btn-footer:active {
  background-color: var(--color-green);
}

.footer-input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.footer-input {
  border: 1px solid var(--color-white);
  background-color: transparent;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  color: var(--color-white);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

  font-size: 12px;
  line-height: 2;
  letter-spacing: 0.04em;

  padding-left: 16px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border: 1px solid var(--color-green);
}

.footer-input::placeholder {
  color: var(--color-white);
}

@media screen and (min-width: 768px) {
  .footer .container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 24px;
    row-gap: 72px;
    text-align: left;
  }

  .logo-description {
    width: 264px;
    margin-left: 108px;
  }

  .footer-social {
    width: 208px;
  }

  .mail-section {
    width: 453px;
    margin-left: 108px;
  }

  .footer-input-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: stretch;
    gap: 24px;
    margin-top: 16px;
  }
}

@media screen and (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }

  .footer .container {
    display: flex;
    align-items: baseline;
    flex-wrap: nowrap;
    gap: 0;
  }

  .logo-description {
    margin-right: 120px;
    margin-left: 0;
  }

  .footer-social {
    margin-right: 80px;
  }

  .mail-section {
    margin-left: 0;
  }

  .footer-input-container {
    margin-top: 0;
  }

  .btn-footer {
    margin: 0;
  }
}

/* #endregion */
