/* приховування секцій */
.hidden {
  display: none;
}
/* приховування секцій */

/* #region Variables (задавати варіанти) */
:root {
  --color-green: #31d0aa;
  --color-iris: #4d5ae5;
  --color-ocean: #404bbf;
  --color-cloud: #f4f4fd;
  --color-cornflower: #e7e9fc;

  --color-white: #ffffff;
  --color-dairy: #fcfcfc;
  --color-navy-blue: #2e2f42;
  --color-light-slate: #8e8f99;
  --color-slate: #434455;
  --color-icon-fill: #2f2f37;

  --color-navy-blue-modal: rgba(46, 47, 66, 0.4);
  --color-grey: rgb(46, 47, 66, 0.7);

  --anim-main: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* #endregion */

/* #region Base styles */
body {
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-slate);
  background-color: var(--color-white);
}

/* #endregion */

/* #region Reset styles (скидання стилів) */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

address {
  font-style: normal;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
/* #endregion */

/* #region Common styles (повторювані стилі)*/

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: auto;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media screen and (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

h2 {
  margin-bottom: 96px;
}

@media screen and (min-width: 1158px) {
  h2 {
    margin-bottom: 72px;
  }
}

.section {
  padding: 96px 0;
}

@media screen and (min-width: 1158px) {
  .section {
    padding: 120px 0;
  }
}

/* #endregion */

/* #region Logo */
.logo {
  color: var(--color-iris);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.light {
  color: var(--color-cloud);
}

.dark {
  color: var(--color-navy-blue);
}

.header-logo {
  display: block;
  padding: 16px 0;
}

@media screen and (min-width: 768px) {
  .header-logo {
    display: block;
    padding: 24px 0;
    margin-right: 120px;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }
}
/* #endregion */

/* #region Header */
.header {
  border-bottom: 1px solid var(--color-cornflower);
  box-shadow:
    0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16),
    0px 1px 6px rgba(46, 47, 66, 0.08);
  position: sticky;
  top: 0px;
  background-color: var(--color-white);
  z-index: 999;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu,
.header-contacs {
  display: none;
}

.burger-btn {
  border: none;
  padding: 0;
  background-color: transparent;
}

.burger-icon {
  display: block;
  fill: var(--color-icon-fill);
}

@media screen and (min-width: 768px) {
  .burger-btn {
    display: none;
  }

  .header-nav {
    display: flex;
    align-items: center;
  }

  .header-menu {
    display: flex;
    align-items: center;
    gap: 40px;
  }

  .header-contacs {
    display: block;
  }

  .header-item {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: var(--color-navy-blue);
  }

  .header-item-link {
    padding: 24px 0;
    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-item:first-child {
    color: var(--color-ocean);
  }

  .header-item .current:after {
    content: "";
    height: 4px;
    width: 100%;
    background-color: var(--color-ocean);
    position: absolute;
    bottom: -1px;
    left: 0;
    border-radius: 2px;
  }

  .header-item-link:hover,
  .header-item-link:focus,
  .header-item-link:active {
    color: var(--color-ocean);
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts-item {
    font-weight: 400;
    display: block;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
  }

  .contacts-item-link {
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-item-link:hover,
  .contacts-item-link:focus {
    color: var(--color-ocean);
  }
}

@media screen and (min-width: 1158px) {
  .contacts-list {
    flex-direction: row;
    gap: 40px;
  }

  .contacts-item {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }

  .contacts-item-link {
    padding: 24px 0;
  }
}

/* #endregion */

/* #region Mobile menu */
.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-white);

  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity var(--anim-main),
    visibility var(--anim-main);
  z-index: 999;
}

.mobile-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}

.mobile-menu-container {
  position: relative;
  padding-top: 72px;
  padding-bottom: 40px;

  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-btn-menu-close {
  position: absolute;
  top: 24px;
  right: 24px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 24px;
  height: 24px;

  padding: 0px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  fill: var(--color-navy-blue);

  cursor: pointer;
  transition:
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-nav {
  margin-bottom: auto;
}

.mobile-nav-item {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  color: var(--color-navy-blue);
  margin-bottom: 40px;
}

.current {
  color: var(--color-ocean);
}

.mobile-contacts-list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 48px;
}

.mobile-contacts-item:not(:last-child) {
  margin-bottom: 24px;
}

.mobile-social {
  display: flex;
  gap: 40px;
}

.mobile-social-item {
  width: 40px;
  height: 40px;
}

.mobile-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--color-iris);
  border-radius: 50%;
  transition: background-color var(--anim-main);
}

.mobile-social-icon {
  fill: var(--color-cloud);
}

/* #endregion */
